.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 200px;
    padding-bottom: 5px;
}
.product-img{
    margin-right: 10px;
    cursor: pointer;
}
.product-name{
    color: blue;
    font-weight: 400;
    text-align: left;

}
.add-button{
    background-color: #f0c14b;
    border: 1px solid;
    border-radius: 3px;
    border-color:  #a88734 #9c7e31 #846a29;
    color: #111;
    width: 200px;
    height: 26px;
    cursor: pointer;
}
.product-description{
    display: flex;
}
.ratings{
    color: #ffbd00;
}
.fa-star{
    color: #ffbd00;
}