.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header ul {
    background-color: black;
    text-align: left;
}
.header li {
    list-style: none;
    display: inline-block;
    line-height: 30px;
    margin-right: 15px;
    padding: 5px;
}
.header li a {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 17px;
    margin-right: 20px;
    padding: 9px;
}
.header a:hover{
    background-color: gray;
}